asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Django==4.2.10  # Compatible with djangorestframework
djangorestframework==3.15.2
gunicorn==21.2.0  # Recommended for production server on Render
idna==3.10
psycopg2==2.9.10  # PostgreSQL database adapter
python-dotenv==1.0.1
sqlparse==0.5.3
tzdata==2025.1
typing_extensions==4.12.2
whitenoise==6.9.0  # For serving static files
requests==2.32.3
