<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/otp.css' %}">
</head>
<body>
    <div class="header">
        <h1>D-POLL</h1>
    </div>
    <div class="overlay">
        <div class="otp-box">
            <h2>Verify OTP</h2>
            <p>Please enter the OTP sent to your registered mobile number.</p>
            <div class="otp-container">
                <input type="text" maxlength="1" class="otp-input">
                <input type="text" maxlength="1" class="otp-input">
                <input type="text" maxlength="1" class="otp-input active">
                <input type="text" maxlength="1" class="otp-input">
                <input type="text" maxlength="1" class="otp-input">
                <input type="text" maxlength="1" class="otp-input">
            </div>
            <button id="verify-btn">Verify</button>
        </div>
    </div>
    <script>
        const uniqueId="{{ unique_id }}"
    </script>
    <script src="{% static 'js/otp.js' %}"></script>
</body>
</html>
