<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Password - D-POLL</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/password.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
        <h1 >D-POLL</h1>
        </div>
        <p>Create a password with the following criteria: 8 characters minimum with lowercase, uppercase, symbol, digit, and alphabet</p>
        
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter password">
        <small id="password-requirements">Minimum 8 characters with required types</small>

        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" placeholder="Re-enter password">

        <small id="match-message">Must Match the above password</small>

        <button id="confirm-btn">Confirm</button>
    </div>

    <script src="{% static 'js/password.js' %}"></script>
</body>
</html>
